<h1>Angular Assignment 1</h1>

<!-- Profile Card  -->

<!-- <h2>Name:{{name}}</h2>
designation:{{designation}}
<img [src]="profilePic" alt="{{name}}"> -->

<!-- Counter App -->

<!-- <button (click)="onIncrement()">Increment</button>
<button (click)="onDecrement()">Decrement</button>
<h3>Active Users:{{count}}</h3> -->

<!-- Feedback Form -->

<!-- <label>
    <input placeholder="Type your feedback"[(ngModel)]="feedback" name="feedback">
    <p>Your feedback:{{feedback}}</p>
    <button (click)="reset()">Reset</button>
</label> -->

<!--  -->
<input type="text" [(ngModel)]="studentName">
<p>Student Name:{{studentName}}</p>
<img [src]="profilePic" alt="studentName">
<button (click)="isStatus()">Mark {{isPresent}}</button>
<p>Status: {{isPresent}}"</p>
